# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
    colorflag="--color"
else # OS X `ls`
    colorflag="-G"
fi

# List files and folders
alias la="ls -halk"
alias ll="ls -lhAGF ${colorflag}"
alias ls="ls -GF"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

alias top="top -ocpu"
alias myip='ifconfig | grep "inet " | grep -v 127.0.0.1 | cut -d\  -f2'

alias passgen="openssl rand -base64 14"

# ZSH
# alias zshconfig="nano ~/.zshrc"
# alias ohmyzsh="nano ~/.oh-my-zsh"

# Get week number
alias week='date +%V'

# aliases for ssh keys
# alias key='ssh-add ~/.ssh/key'
alias key='ssh-add ~/.ssh/id_rsa'

# Vagrant
alias vgssh="vagrant up && vagrant ssh"
