[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto

[alias]
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	ll = log --oneline --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	st = status
	b = branch
	co = checkout
	c = commit
        po = push -u origin

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	autocrlf = false
	pager = less -R
	editor = nano

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[github]
	user = melik

[user]
	name = Alexey M
	email = melik.alexey@gmail.com

[push]
	default = matching
